<h1>HappyR Google Analytics</h1>

<p>This is the Google Analytics authentication page.</p>

<p>Your authentication status: <b>{% if authenticated %}Token exists{% else %}Not authenticated{% endif %}</b></p>

{% if authenticated %}
    <h2>Re-authenticate</h2>
    <p>If you experience that something is not working and you believe re-authentication will fix the problem,
        then you can try to <a href="{{ path('_happyr_google_analytics_authenticate') }}">click here to
            re-authenticate</a></p>
{% endif %}

{% if not authenticated %}
    <h2>Authenticate</h2>
    <p>Do you want to start using the bundle? <a href="{{ path('_happyr_google_analytics_authenticate') }}">Click here
            to authenticate</a></p>
{% endif %}


<h2>Parameters</h2>
You should have the following in your config.yml:
<code><pre>
happy_r_google_api:
    oauth2_redirect_uri: '{{ url('_happyr_google_analytics_callback') }}'
</pre>
</code>

<p>Also make sure that you have properly set up API access to Google Analytics. Check out
    your <a href="https://code.google.com/apis/console/">API Console</a>.</p>